* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Gabarito", serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.navbar-sl {
    color:rgb(164, 53, 240);
}
.navbar-s2 {
    border: solid black 1px;
    height: 40px;
    width: 60%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.navbar-s2 input {
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar-s2 input:focus {
    outline: none;
}
.navbar-s3 {
    display: flex;
    gap: 15px;
}
.navbar-s3__mylearing {
    position: relative;
    cursor: pointer;
}
.navbar-s3__mylearing:hover .navbar-s3__popup {
    display: block;
}
.navbar-s3__popup {
    position: absolute;
    border: solid black 1px;
    padding: 10px;
    width: 90px;
    top: 45px;
    right: 0px;
    background-color: white;
    display: none;

}
.sales-img {
    position: relative;
}
.sales-img_card {
    position: absolute;
    top: 90px;
    left: 30px;
    width: 400px;
    border: solid black 1px;
    padding: 8px;
    animation-name: popup;
    animation-duration: 3s;
}
@keyframes popup {
    0% {
        transform: scale(0);
    }
}
.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: rgb(164, 53, 240);
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid rgb(164, 53, 240) 1px;
    cursor: pointer;
}
.categories p:hover {
    transition: 0.5s;
    background-color: white;
    color:rgb(164, 53, 240);
    border: solid rgb(164, 53, 240) 1px;
}
.recommended {
    padding: 15px;
}
.recommended p{
    padding-top: 10px;
}
.recommended-container__cart {
    width: 240px;
    padding-bottom: 5px;
}
.recommended-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}
.topics {
    padding: 15px;
}
.topics-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.topics-container p{
    border: solid black 1px;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 5px;
}
.footer {
    padding: 30px;
    background-color: black;
    color: white;
}
.footer-one {
    display: flex;
    gap: 20px;
}
.footer-one p{
    margin-top: 15px;
}
.footer-two {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
}